<ion-header>
  <ion-toolbar>
    <ion-title>Content</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>User Text</ion-card-subtitle>
      <ion-card-title>
        {{ data }}
      </ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Database:
      <ion-list>
        <ion-item *ngFor="let i of items | async">
          <ion-label>
            {{ i.text }}
          </ion-label>

          <div class="item-note" item-end>
            <button ion-button clear (click)="editItem(i.idField)">
              <ion-icon name="create" style="zoom:2.0"></ion-icon>
            </button>
            <button ion-button clear (click)="deleteItem(i.idField)">
              <ion-icon name="trash" style="zoom:2.0"></ion-icon>
            </button>
          </div>

        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <div class="center">
    <ion-button (click)="goBack()">Back</ion-button>
  </div>

</ion-content>
