<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Ionic Tutorial 2022
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Ionic Tutorial 2022</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      <ion-card-title>Enter some text</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-input [(ngModel)]="userText" placeholder="Enter Input"></ion-input>
      <ion-item>
        <ion-label>Category</ion-label>
        <ion-select multiple="false" [(ngModel)]="selectedCategory">
          <ion-select-option value="English">English</ion-select-option>
          <ion-select-option value="Spanish">Spanish</ion-select-option> 
      </ion-select>
      </ion-item>
      <ion-button (click)="nextPageWithQueryParams()">Query Params</ion-button>
      <ion-button (click)="nextPageWithState()">State</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
